* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-color: #527853;
  height: 8.125rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: none; }
  header div {
    object-fit: contain;
    width: 9.375rem;
    margin-left: .625rem;
    margin-top: .625rem; }
    header div img {
      width: 100%; }
  header nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: none;
    align-items: center;
    gap: none;
    padding-right: 1.25rem;
    margin-right: 1.25rem;
    list-style: none; }
    header nav ul li {
      margin-top: .3125rem;
      font-size: 1.25rem;
      padding: 1.25rem; }
      header nav ul li a {
        color: #fbfbfb; }
      header nav ul li a:link {
        text-decoration: none;
        /*&:hover{
                            transform: scale(1.2)};*/ }
    header nav ul a:visited {
      text-decoration: none; }

footer {
  background-color: #527853;
  height: 15.625rem;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: none; }
  footer .footerdiv1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: none;
    height: 11.25rem;
    width: 20%; }
    footer .footerdiv1 h4 {
      color: #F9E8D9;
      padding: 1.25rem; }
    footer .footerdiv1 .iconofb, footer .footerdiv1 .iconoin {
      height: 1.875rem;
      width: 1.875rem;
      margin: .3125rem; }
  footer .footerdiv2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: none;
    height: 11.25rem;
    width: 20%; }
    footer .footerdiv2 h4 {
      color: #F9E8D9;
      padding: 1.25rem; }
    footer .footerdiv2 .iconogm {
      height: 1.875rem;
      width: 1.875rem;
      margin: .3125rem; }
  footer .tortilla {
    width: 15.625rem;
    position: absolute;
    right: .125rem; }
    footer .tortilla img {
      object-fit: contain;
      width: 100%; }

.section1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  object-fit: contain;
  background-image: url(../Assets/Tomates.png);
  height: 100vh;
  margin: 0rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0rem; }
  .section1 .olor {
    color: #D9D9D9;
    font-family: 'Platypi';
    font-size: 8.125rem;
    text-align: center;
    text-shadow: .125rem .125rem grey;
    margin-top: -7.8125rem; }

.section2 {
  background-image: url(../Assets/tabla1.jpg);
  height: 25rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: none;
  align-items: none;
  gap: 0px; }
  .section2 h2 {
    color: #F7B787;
    font-size: 3.75rem;
    text-align: center;
    padding: 1.5625rem;
    letter-spacing: .3125rem;
    text-shadow: 0.125rem 0.125rem #1f1f1f; }
  .section2 h3 {
    color: #F9E8D9;
    font-size: 1.875rem;
    text-align: start;
    text-shadow: 0.125rem 0.125rem #1f1f1f;
    margin-left: 5%; }
  .section2 p {
    color: #F9E8D9;
    padding-top: .625rem;
    font-size: 1.4375rem;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3.125rem; }

.section3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0rem; }
  .section3 img {
    width: 50%;
    height: 100%; }

/* corregir img hamburguesa*/
.section4 {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 12.5rem 31.25rem 31.25rem 15.625rem 6.25rem;
  grid-template-areas: 's1 s2 s3' 's4 s4 s4' 's4 s4 s4' 's4 s4 s4' 's5 . .';
  margin-bottom: 6.25rem; }
  .section4 .aji {
    grid-area: s1;
    justify-self: center;
    align-self: baseline;
    height: 16.875rem;
    width: 16.875rem; }
  .section4 h3 {
    grid-area: s2;
    justify-self: center;
    align-self: center;
    font-size: 3.125rem;
    color: #527853;
    text-shadow: 0.0625rem 0.0625rem #c7c5c5; }
  .section4 .especias {
    grid-area: s3; }
  .section4 .motivos {
    grid-area: s4;
    background-color: #F9E8D9;
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
    padding: 1.25rem; }
    .section4 .motivos li {
      padding: 36px 0 36px 84px;
      list-style: none;
      background-image: url("../Assets/iconozanahoria.png");
      background-repeat: no-repeat;
      background-size: 2.5rem;
      background-position: left center;
      object-fit: none; }
  .section4 .tenedor {
    width: 25rem;
    height: 7.8125rem;
    grid-area: s5; }

.section5 {
  width: 100%;
  height: 25rem;
  padding-bottom: 3.125rem;
  margin-top: 4.375rem;
  margin-bottom: 3.125rem; }
  .section5 h3 {
    font-size: 3.125rem;
    color: #527853;
    text-shadow: 0.0625rem 0.0625rem #c7c5c5;
    height: 6.25rem;
    text-align: center; }
  .section5 .tips {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 0rem; }
    .section5 .tips .tip1, .section5 .tips .tip2, .section5 .tips .tip3, .section5 .tips .tip4 {
      width: 12.5rem;
      height: 18.75rem;
      border: .0625rem grey;
      border-radius: 5%;
      box-shadow: .3125rem .3125rem .3125rem grey;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .section5 .tips .tip1 img, .section5 .tips .tip2 img, .section5 .tips .tip3 img, .section5 .tips .tip4 img {
        width: 2.5rem;
        padding: .3125rem; }
      .section5 .tips .tip1 h4, .section5 .tips .tip2 h4, .section5 .tips .tip3 h4, .section5 .tips .tip4 h4 {
        text-decoration-line: underline;
        margin-top: .3125rem; }
      .section5 .tips .tip1 p, .section5 .tips .tip2 p, .section5 .tips .tip3 p, .section5 .tips .tip4 p {
        margin-top: 3.125rem;
        margin-left: .3125rem;
        margin-right: .3125rem;
        text-align: center;
        color: #313030; }

.recetassection1 {
  height: 25rem;
  background-image: url(../Assets/tostadas.png);
  background-repeat: no-repeat;
  background-size: top;
  background-position: auto;
  object-fit: none; }
  .recetassection1 h1 {
    font-family: 'Platypi';
    font-size: 7.5rem;
    text-align: center;
    color: #222121;
    text-shadow: .125rem .125rem grey;
    position: absolute;
    top: 14.375rem;
    left: 23.125rem; }

.cositas .recetas-h2 {
  color: #EE7214;
  font-size: 3.125rem;
  text-align: center;
  margin: 6.25rem;
  text-shadow: 0.125rem 0.125rem #a8a8a8; }

.cositas .container-cards-cositas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 0rem; }
  .cositas .container-cards-cositas .humus, .cositas .container-cards-cositas .papas-bravas, .cositas .container-cards-cositas .chips-kale, .cositas .container-cards-cositas .bruschettas, .cositas .container-cards-cositas .salados .container-cards-salados .salsa-bolognesa, .salados .container-cards-salados .cositas .container-cards-cositas .salsa-bolognesa, .cositas .container-cards-cositas .salados .container-cards-salados .arroz-verduras, .salados .container-cards-salados .cositas .container-cards-cositas .arroz-verduras, .cositas .container-cards-cositas .salados .container-cards-salados .milanesas-pure, .salados .container-cards-salados .cositas .container-cards-cositas .milanesas-pure, .cositas .container-cards-cositas .salados .container-cards-salados .tarta-atun, .salados .container-cards-salados .cositas .container-cards-cositas .tarta-atun {
    width: 12.5rem;
    height: 18.75rem;
    border: .0625rem grey;
    box-shadow: .3125rem .3125rem .3125rem grey;
    text-align: center; }
    .cositas .container-cards-cositas .humus h3, .cositas .container-cards-cositas .papas-bravas h3, .cositas .container-cards-cositas .chips-kale h3, .cositas .container-cards-cositas .bruschettas h3, .cositas .container-cards-cositas .salados .container-cards-salados .salsa-bolognesa h3, .salados .container-cards-salados .cositas .container-cards-cositas .salsa-bolognesa h3, .cositas .container-cards-cositas .salados .container-cards-salados .arroz-verduras h3, .salados .container-cards-salados .cositas .container-cards-cositas .arroz-verduras h3, .cositas .container-cards-cositas .salados .container-cards-salados .milanesas-pure h3, .salados .container-cards-salados .cositas .container-cards-cositas .milanesas-pure h3, .cositas .container-cards-cositas .salados .container-cards-salados .tarta-atun h3, .salados .container-cards-salados .cositas .container-cards-cositas .tarta-atun h3 {
      padding: .1875rem;
      color: #527853;
      text-decoration: underline; }
    .cositas .container-cards-cositas .humus p, .cositas .container-cards-cositas .papas-bravas p, .cositas .container-cards-cositas .chips-kale p, .cositas .container-cards-cositas .bruschettas p, .cositas .container-cards-cositas .salados .container-cards-salados .salsa-bolognesa p, .salados .container-cards-salados .cositas .container-cards-cositas .salsa-bolognesa p, .cositas .container-cards-cositas .salados .container-cards-salados .arroz-verduras p, .salados .container-cards-salados .cositas .container-cards-cositas .arroz-verduras p, .cositas .container-cards-cositas .salados .container-cards-salados .milanesas-pure p, .salados .container-cards-salados .cositas .container-cards-cositas .milanesas-pure p, .cositas .container-cards-cositas .salados .container-cards-salados .tarta-atun p, .salados .container-cards-salados .cositas .container-cards-cositas .tarta-atun p {
      text-align: center;
      margin-top: .9375rem;
      font-weight: 100; }
    .cositas .container-cards-cositas .humus div, .cositas .container-cards-cositas .papas-bravas div, .cositas .container-cards-cositas .chips-kale div, .cositas .container-cards-cositas .bruschettas div, .cositas .container-cards-cositas .salados .container-cards-salados .salsa-bolognesa div, .salados .container-cards-salados .cositas .container-cards-cositas .salsa-bolognesa div, .cositas .container-cards-cositas .salados .container-cards-salados .arroz-verduras div, .salados .container-cards-salados .cositas .container-cards-cositas .arroz-verduras div, .cositas .container-cards-cositas .salados .container-cards-salados .milanesas-pure div, .salados .container-cards-salados .cositas .container-cards-cositas .milanesas-pure div, .cositas .container-cards-cositas .salados .container-cards-salados .tarta-atun div, .salados .container-cards-salados .cositas .container-cards-cositas .tarta-atun div {
      width: 100%;
      height: 50%;
      margin-top: 2rem; }
      .cositas .container-cards-cositas .humus div img, .cositas .container-cards-cositas .papas-bravas div img, .cositas .container-cards-cositas .chips-kale div img, .cositas .container-cards-cositas .bruschettas div img, .cositas .container-cards-cositas .salados .container-cards-salados .salsa-bolognesa div img, .salados .container-cards-salados .cositas .container-cards-cositas .salsa-bolognesa div img, .cositas .container-cards-cositas .salados .container-cards-salados .arroz-verduras div img, .salados .container-cards-salados .cositas .container-cards-cositas .arroz-verduras div img, .cositas .container-cards-cositas .salados .container-cards-salados .milanesas-pure div img, .salados .container-cards-salados .cositas .container-cards-cositas .milanesas-pure div img, .cositas .container-cards-cositas .salados .container-cards-salados .tarta-atun div img, .salados .container-cards-salados .cositas .container-cards-cositas .tarta-atun div img {
        width: 100%;
        height: 100%; }

.salados .recetas-h2 {
  color: #EE7214;
  font-size: 3.125rem;
  text-align: center;
  margin: 6.25rem;
  text-shadow: 0.125rem 0.125rem #a8a8a8; }

.salados .container-cards-salados {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 0rem; }
