@mixin flex ($direction,$wrap,$justify,$align,$gap){
    display:flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin background-image ($repeat,$size,$position,$fit){
    background-repeat: $repeat;
    background-size: $size;
    background-position: $position;
    object-fit: $fit;
}

@mixin recetas-h2 {
        color: #EE7214;
        font-size: 3.125rem;
        text-align: center;
        margin: 6.25rem;
        text-shadow: .125rem .125rem rgb(168, 168, 168);
}

